.main {
	background-image: url('../images/useful/main-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: calc(100vh - 77px);
	position: relative;
	display: flex;
	align-items: center;
	&:after {
		content: " ";
		position: absolute;
    width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 22px 22px 22px;
		border-color: transparent transparent #fff transparent;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&-title h1 {
		color: #111111;
		font-family: Oswald;
		font-size: 36px;
		font-weight: 400;
		line-height: 48px;
		letter-spacing: 1.7px;
	}
	&-desc {
		margin-top: -2px;
		 p {
		color: #555;
		font-family: OpenSans;
		font-size: 12px;
		font-weight: 400;
		line-height: 24px;
		margin-top: 15px;
		letter-spacing: 0.02px;
	}
}
	&-inner {
		margin-left: -10px;
	}
	&__modal-button {
		white-space: nowrap;
		border-radius: 25px;
		background-color: #62b400;
		display: inline-block;
		color: #fff;
		transition: all 0.4 ease;
		padding: 15px 34px;
		&:hover {
			color: #fff;
			background-color: #00AB00;
		}
		span {
			color: #ffffff;
			font-family: "Oswald";
			font-size: 14px;
			font-weight: 600;
			line-height: 18px;
			letter-spacing: 0.7px;
		}
	}
}
.main-call-header {
	margin-top: 35px;
}
@media (max-width: $sw-lg-min) {
	.main {
	}
}
@media (max-width: $sw-md-min) {
	.main {
		background-size: auto;
		background-position: -200px;
	}
}
@media (max-width: $sw-sm-min) {
	.main-inner {
		max-width: 400px;
	}
	.main {
		background-size: auto;
		background-position: -330px;
	}
}

@media (max-width: $sw-xs-min) {
	.main {
		background-position: -330px;
	}
	.main-inner {
		display: flex;
    flex-direction: column;
    justify-content: center;
		.modal-button {
			padding: 15px 25px;
		}
	}
	.main-desc p {
		text-align: center;
	}
	.main-title h1 {
		text-align: center;
	}
	.main-call {
		text-align: center;
	}
}
