mixin main(data)
	.main
		.container
			.col-lg-10.offset-lg-4.col-md-12.offset-md-3.col-4.col-sm-12.offset-sm-4.col-4
				.main-inner
					.main-title
						h1 Организация корпоративного питания в России
					.main-desc
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
					.main-call.main-call-header
						a.modal-button.main__modal-button(href="#myModal", data-toggle='modal')
							span Получить подробную консультацию