mixin gallery(data)
	each item in data.items
		.projects__slider-item
			a.h-object-fit(href=item.link, data-fancybox='gallery', data-caption='Caption #3')
				img(src=item.img, alt=item.img)

mixin gallery-projects(data)
	.gallery-projects#gallery-projects
		.container
			.gallery-projects__title
				+svg('icon-plum')
				h2 Галерея проектов
			.gallery-projects__slider
				.projects__slider(data-aos='fade-in', data-aos-delay="100")
					+gallery({
									items: [
									{
									link: 's/images/useful/projects__slider/ps1.jpg',
									img: 's/images/useful/projects__slider/ps1.jpg'
									},
									{
									link: 's/images/useful/projects__slider/ps-2.jpg',
									img: 's/images/useful/projects__slider/ps-2.jpg'
									},
									{
									link: 's/images/useful/projects__slider/ps-3.jpg',
									img: 's/images/useful/projects__slider/ps-3.jpg'
									},
									{
									link: 's/images/useful/projects__slider/ps-4.jpg',
									img: 's/images/useful/projects__slider/ps-4.jpg'
									},							
									{
									link: 's/images/useful/projects__slider/ps1.jpg',
									img: 's/images/useful/projects__slider/ps1.jpg'
									},
									{
									link: 's/images/useful/projects__slider/ps-2.jpg',
									img: 's/images/useful/projects__slider/ps-2.jpg'
									},
									{
									link: 's/images/useful/projects__slider/ps-3.jpg',
									img: 's/images/useful/projects__slider/ps-3.jpg'
									},
									{
									link: 's/images/useful/projects__slider/ps-4.jpg',
									img: 's/images/useful/projects__slider/ps-4.jpg'
									},							
									{
									link: 's/images/useful/projects__slider/ps1.jpg',
									img: 's/images/useful/projects__slider/ps1.jpg'
									},
									{
									link: 's/images/useful/projects__slider/ps-2.jpg',
									img: 's/images/useful/projects__slider/ps-2.jpg'
									},
									{
									link: 's/images/useful/projects__slider/ps-3.jpg',
									img: 's/images/useful/projects__slider/ps-3.jpg'
									},
									{
									link: 's/images/useful/projects__slider/ps-4.jpg',
									img: 's/images/useful/projects__slider/ps-4.jpg'
									},							
									{
									link: 's/images/useful/projects__slider/ps1.jpg',
									img: 's/images/useful/projects__slider/ps1.jpg'
									},
									{
									link: 's/images/useful/projects__slider/ps-2.jpg',
									img: 's/images/useful/projects__slider/ps-2.jpg'
									},
									{
									link: 's/images/useful/projects__slider/ps-3.jpg',
									img: 's/images/useful/projects__slider/ps-3.jpg'
									},
									{
									link: 's/images/useful/projects__slider/ps-4.jpg',
									img: 's/images/useful/projects__slider/ps-4.jpg'
									}
								]
							})
