.gallery-projects {
	padding-top: 67px;
	padding-bottom: 124px;
	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -24px;
		margin-left: -119px;
		overflow: hidden;
		h2 {
			color: #62b400;
			font-family: "Oswald";
			font-size: 30px;
			font-weight: 600;
			line-height: 35px;
			letter-spacing: 1.5px;
		}
		svg {
			width: 94px;
			height: 61px;
			color: #62aa31;
			opacity: 0.5;
			margin-right: 25px;
		}
	}
}
.projects__slider {
	margin-top: 34px;
	margin-left: -15px;
	margin-right: -15px;
	&-item {
		height: 220px;
		margin: 0 15px;
		display: flex;
		justify-content: center;
		a {
			width: 100%;
			height: 100%;
		}
	}
	.slick-dots {
		bottom: -62px;
		li {
			margin: 0;
		}
	}
}
.slick-dots li button {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #d1d1d1;
}
.slick-dots li.slick-active button {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #62b400;
}
.slick-dots li button:before {
	display: none;
}



@media (max-width: $sw-sm-min) {
	.gallery-projects {
		padding-bottom: 60px;
	}
}
@media (max-width: $sw-xs-min) {
	.gallery-projects__title {
		text-align: center;
		margin: 0;
		svg {
			display: none;
		}
	}
	.gallery-projects {
		padding-bottom: 50px;
	}
}
