mixin modal()
	#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h4.myModalLabel.modal-title Форма обратной связи
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						+svg('icon-false')
				.modal-body
					.modal-input-form
						form#file_form.js-form-check(action="/", method='post')
							#messanger
								.form-iput-group
									.form-iput-name
										.input-wrap
											input.form-control#username(type="text",	placeholder="Ваше имя", required="", name="username")
									.form-iput-phone
										.input-wrap
											input.form-control#phone(type="tel", pattern="^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$",	placeholder="Номер телефона", required="", name="phone")
									.form-iput-mail
										.input-wrap
											input.form-control#email(type="email",	placeholder="Email", name="email")
								.form-input-message
									.input-wrap
										textarea.form-control(name="message", rows='5', cols="50", placeholder="Раскажите немного о закезе, который вы бы хотели осуществить")
								//- +form-group({
								//- 	type: 'text',
								//- 	placeholder: 'asdasd',
								//- 	name: 'e4reeeee',
								//- 	required: true,
								//- })
								//- +form-group({
								//- 	type: 'textarea',
								//- 	placeholder: 'asdasd',
								//- 	name: 'e4reeeee',
								//- 	required: true,
								//- })
								//- +form-group({
								//- 	type: 'checkbox',
								//- 	checked: true,
								//- 	name: 'e4reeeee',
								//- 	required: true,
								//- 	txt: 'lorem ipsum dolor',
								//- 	disabled: true
								//- })
								.modal-footer
									button.modal-btn(type='submit') 
										span Отправить
										+svg('icon-arrow-r')
									.form-check
										input.form-check-input(type='checkbox')#check
										label.form-check-label#myModalLabel(for='check') Даю согласие на обработку моих персональних данных