.modal {
	&-content {
		padding: 50px 50px 63px 50px;
	}
	&-header {
		padding: 0;
		border: none;
		justify-content: space-between;
		position: relative;
	}
	&-body {
		padding: 0;
	}
	&-footer {
		padding: 0;
		border: none;
	}
	&-title {
		color: #62b400;
		font-family: "Oswald";
		font-size: 30px;
		font-weight: 600;
		line-height: 30px;
		letter-spacing: 1.5px;
	}
	.icon-false {
		font-size: 20px;
		color: #62b400;
	}
	.close {
		opacity: 1;
		margin-top: -15px;
	}
	&-footer {
		margin-top: 30px;
	}
}
.form-iput-group {
	display: flex;
	justify-content: space-between;
	// align-items: center;
	margin-top: 50px;
	input {
		width: 100%;
		height: 30px;
		border: none;
		border-bottom: 1px solid #62b400;
		color: #555555;
		font-family: "OpenSans";
		font-size: 12px;
		font-weight: 400;
		line-height: 15px;
		
	}
}
.form-input-message {
	margin-top: 50px;
	textarea {
		width: 100%;
		border: none;
		border-bottom: 1px solid #62b400;
		height: 30px;
		appearance: none !important;
		overflow: hidden;
		color: #555555;
		font-family: "OpenSans";
		font-size: 12px;
		font-weight: 400;
		line-height: 12px;
	}
}
.modal-dialog {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	padding-top: calc(100vh - 720px);
}

.modal-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modal-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	background-color: #62b400;
	padding: 17px 33px 17px 32px;
	outline: none;
	cursor: pointer;
	span {
		color: #ffffff;
		font-family: "Oswald";
		font-size: 14px;
		font-weight: 600;
		line-height: 18px;
		letter-spacing: 0.7px;
	}
	.icon-arrow-r {
		width: 18px;
		height: 12px;
		color: #ffffff;
		margin-left: 10px;
	}
}
.form-check-input {
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
	border: none;
	margin-top: 17px;
	margin-right: 10px;
}
.form-check-label {
	color: #8c8c8c;
	font-family: "OpenSans";
	font-size: 12px;
	font-weight: 300;
	line-height: 48px;
	position: relative;
	margin-left: 10px;

}

.form-iput-phone {
	width: 30%;
}
.form-iput-name {
	width: 30%;
}
.form-iput-mail {
	width: 30%;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 15px;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
	background: #fff;
	width: 20px;
	height: 20px;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
	top: 19px; 
	left: 3px;
  font-size: 1.4em;
  line-height: 0.8;
  color: #62b400;
  transition: all .2s;
	font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
#messenger{
	text-align:center;
	display:none;
	color:#f00;
	margin:15px 0;
	}
.notvalid{
	background:rgba(255,0,0,.2);
}


@media (max-width: $sw-sm-min) {
	.modal-footer {
		flex-direction: column
	}
	.form-check-label {
		line-height: 12px;
	}
	[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
		top: 0;
	}
	[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
		top: 0;
	}
	.form-check {
		margin-top: 30px;
	}
}
@media (max-width: $sw-xs-min) {
	.form-iput-group {
		flex-direction: column;
		margin-top: 80px;
	}
	.form-iput-name {
		width: 100%;
		margin-bottom: 20px;
	}
	.form-iput-phone {
		width: 100%;
		margin-bottom: 20px;
	}
	.form-input-message {
		width: 100%;
		margin: 0;
	}
	.form-iput-mail {
		width: 100%;
		margin-bottom: 20px;
	}
	.modal-content {
		padding: 40px 20px 40px 20px;
	}
	.modal-dialog {
		height: 100vh;
		padding: 0;
	}

	.modal-btn {
		padding: 17px 50px;
	}
}