@mixin font-face ($fontname, $fontfile, $fontweight: normal, $fontstyle: normal) {
	@font-face {
		font-family: $fontname;
		src: url('../fonts/' + $fontfile + '.eot');
		src: url('../fonts/' + $fontfile + '.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/' + $fontfile + '.woff') format('woff'),
			 url('../fonts/' + $fontfile + '.ttf') format('truetype'),
			 url('../fonts/' + $fontfile + '.svg##{fontname}') format('svg');
		font-weight: $fontweight;
		font-style: $fontstyle;
	}
};

@include font-face ("OpenSans", "opensans/opensans-light", 300, normal);
@include font-face ("OpenSans", "opensans/opensans-regular", 400, normal);
@include font-face ("Oswald", "oswald/oswald-regular", 400, normal);
@include font-face ("Oswald", "oswald/oswald-semibold", 600, normal);
@include font-face ("Raleway", "raleway/raleway-bold", 700, normal);
@include font-face ("Raleway", "raleway/raleway-regular", 400, normal);