//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head
include ../components/preloader/preloader
include ../components/header/header
include ../components/c-forms/c-forms


//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body
		+preloader()
		.l-wrapper
			block header
				+header()
			main
				block content
			block footer
				+footer()
		block beforeScripts
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBaeX94O_aStsrDEyREJoadzsxLEh2OpoQ', defer)
		script(src=route.js + "main.js", defer)