mixin works(data)
	.works#works
		.container
			.row
				.col-lg-14.offset-lg-8.col-md-14.offset-md-8.col-sm-14.offset-sm-8
					.works-title
						h2 Как мы работаем
			.row
				.col-lg-14.offset-lg-8.col-md-18.offset-md-4
					.works-items(data-aos='fade-in', data-aos-delay="100")
						+svg('icon-pea')
						.works-left
							.works-item
								span 1.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
							.works-item
								span 2.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
						.works-right
							.works-item
								span 3.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
							.works-item
								span 4.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
			.row
				.col-lg-8.offset-lg-14.col-md-8.offset-md-14.col-sm-8.offset-sm-14
					.main-call
						a.modal-button.main__modal-button.works__modal-button(href="#myModal", data-toggle='modal')
							span Получить подробную консультацию
							