.works {
	width: 100%;
	position: relative;
	padding-top: 100px;
	padding-bottom: 180px;
	overflow: hidden;
	box-shadow: 0 2px 11px rgba(0, 0, 0, 0.3);
	&:after {
		content: '';
		position: absolute;
		top: -0;
		right: -0;
		bottom: 0;
		left: -0;
		background-image: url('../images/useful/works.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		z-index: -1;
	}
	&-title {
		margin: 0 auto;
		margin-left: 35px;
		margin-top: 4px;
		overflow: hidden;
		h2 {
			color: #62b400;
			font-family: Oswald;
			font-size: 30px;
			font-weight: 600;
			line-height: 35px;
			letter-spacing: 1.4px;
		}
	}
	&-items {
		margin-top: 53px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&-item {
		display: flex;
		margin-left: 34px;
		margin-bottom: 17px;
		span {
			display: inline-block;
			color: #62b400;
			font-family: "Oswald";
			font-size: 30px;
			font-weight: 600;
			line-height: 30px;
		}
		p {
			display: inline-block;
			margin-top: 8px;
			color: #222222;
			font-family: "OpenSans";
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			max-width: 275px
		}
	}
	&__modal-button {
		margin-top: 10px;
	}
	.icon-pea {
		position: absolute;
		right: -80px;
		top: -27px;
		font-size: 133px;
		color: #62b400;
		opacity: 0.5;
	}
	.main-call {
		margin-top: 25px;
    margin-left: 70px;
	}
}



@media (max-width: $sw-lg-min) {
	.works:after {
		left: -450px;
	}
	.works-item p {
	}
}
@media (max-width: $sw-sm-min) {
	.works:after {
		left: -1300px;
	}
	.works .main-call {
		margin: 0;
	}
	.works .main-call {
		text-align: center;
	}
	.works {
		padding-bottom: 20px;
	}
	.works-items {
		justify-content: center;
	}
	.works-title {
		display: flex;
		justify-content: center;
	}
}
@media (max-width: $sw-xs-min) {
	.works-item p {
		line-height: 20px;
	}	
	.works .icon-pea {
		display: none;
	}
	.works-item {
		margin-left: 0;
	}
}



