.scroll-top {
	width: 46px;
	height: 46px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	background-color: #62b400;
	position: fixed;
	cursor: pointer;
	border-radius: 50%;
	right: 30px;
	bottom: 30px;
	z-index: 88;
	color: #fff;
	&:hover{
	.icon-scroll {
		color: #e8e8e8 !important;
	}
}
	.icon-scroll{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%) rotate(-90deg);
		transition: all 0.3s ease;
	}
}

@media (max-width: $sw-xs-min) {
	.scroll-top {
		right: 10px;
		bottom: 10px;
	}
}
