mixin clients(data)
	.clients#clients
		.container
			.clients-title
				h2 Наши клиенты
			.row
				.col-lg-20.offset-lg-2
					.clients-slider(data-aos='fade-in', data-aos-delay="100")
						.clients-slider-item
							img(src="s/images/useful/clients/itella.png", alt="")
						.clients-slider-item
							img(src="s/images/useful/clients/festa.png", alt="")
						.clients-slider-item
							img(src="s/images/useful/clients/cargo.png", alt="")
						.clients-slider-item
							img(src="s/images/useful/clients/loreal.png", alt="")
						.clients-slider-item
							img(src="s/images/useful/clients/car.png", alt="")
						.clients-slider-item
							img(src="s/images/useful/clients/itella.png", alt="")
						.clients-slider-item
							img(src="s/images/useful/clients/festa.png", alt="")
						.clients-slider-item
							img(src="s/images/useful/clients/cargo.png", alt="")
						.clients-slider-item
							img(src="s/images/useful/clients/loreal.png", alt="")
						.clients-slider-item
							img(src="s/images/useful/clients/car.png", alt="")
						