.clients {
	position: relative;
	background-image: url('../images/useful/clients/bg.jpg');
	background-position:	center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0;
	&-title {
		text-align: center;
		overflow: hidden;
		h2 {
		color: #ffffff;
		font-family: "Oswald";
		font-size: 30px;
		font-weight: 600;
		line-height: 35px;
		letter-spacing: 1.5px;
		margin-top: 5px;
		}
	}
	&-slider {
		margin-top: 30px;
		padding: 20px 0;
		&-item {
		}
		&:after,&:before {
			content: '';
			position: absolute;
			height: 1px;
			background-color: #ffffff;
			width: 100%;
		}
		&:after {
			bottom: 0;
		}
		&:before {
			top: 0;
		}
	.slick-track {
		display: flex;
		align-items: center;
	}
	.slick-list {
		margin: 0 -15px;
	}
	&-item {
		text-align: center;
	}
	.slick-slide img {
		display: inline-block;
	}
	}
}


@media (max-width: $sw-md-min) {
	.slick-dots {
		bottom: -40px;
	}
}