mixin footer()
		.c-footer#footer
			.c-footer-top
				.container
					.row
						.col-lg-20.offset-lg-2.col-md-24
							.c-footer-top-inner
								.c-footer-top-contacts(data-aos='fade-in', data-aos-delay="100")
									.c-footer-mail
										a(href="mailto:yourmail@example.com")
											+svg('icon-mail')
											span yourmail@example.com
									.c-footer-phone
										a(href="tel:+711133377888")
											+svg('icon-phone-f')
											span +7 (111) 333-77-888
									.c-footer-address
										+svg('icon-nav')
										span Москва, Соляной грот, ул. Сергия Радонежского, 11
								.main-call
									a.modal-button.main__modal-button.footer__modal-button(href="#myModal", data-toggle='modal')
										span Получить подробную консультацию
			.c-footer-map
				#map(data-lat="55.747285", data-lng="37.6733293")

			.c-footer-bot
				.container
					.row
						.col-lg-20.offset-lg-2
							.c-footer-bot-inner
								span © All Rights Reserved. Developed by Swipeks . 2018

