.c-footer{
		background-image: url("../images/useful/footer/footer-bg.jpg");
		background-size: cover;
		background-position: left bottom;
		background-repeat: no-repeat;
		padding-bottom: 361px;
		&-top-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 23px;
		}
		&-top-contacts {
			display: flex;
			a {
				text-decoration: none;
				display: block;
			}
			span {
				color: #ffffff;
				font-family: Oswald;
				font-size: 14px;
				font-weight: 400;
				line-height: 30px;
				margin-right: 25px;
			}
		}
		&-mail {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 80px;
				height: 2px;
				background-color: #62b400;
			}
			&:hover:after {
				width: 90%;
			}
		}
		&-phone {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 80px;
				height: 2px;
				background-color: #62b400;
			}
			&:hover:after {
				width: 90%;
			}
		}
		&-address {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 80px;
				height: 2px;
				background-color: #62b400;
			}
		}
		svg {
			width: 18px;
			height: 14px;
			color: #ffffff;
			margin-right: 9px;
			margin-top: -8px;
		}
	.footer__modal-button {
		margin-top: 0;
	}
	&-map {
		width: 100%;
		height: 326px;
		margin-top: 30px;
	}
	&-bot-inner {
		text-align: center;
		margin-top: 52px;
		margin-left: 4px;
		position: relative;
		span {
			color: #ffffff;
			font-family: "OpenSans";
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
		}
		&:before {
			content: "";
			position: absolute;
			top: -22px;
			left: 0;
			height: 1px;
			background-color: #62b400;
			width: 100%;
		}
	}
}
#map {
	height: 100%;
}

@media (max-width: $sw-lg-min) {
	.c-footer-top-inner {
		flex-direction: column;
		.main-call {
			margin-top: 30px;
		}
	}
}
@media (max-width: $sw-sm-min) {
	.c-footer-top-contacts {
		justify-content: center;
		flex-wrap: wrap;
		span {
			font-size: 12px;
		}
		.c-footer-mail {
			margin-top: 20px;
		}
		.c-footer-phone {
			margin-top: 20px;
		}
		.c-footer-address {
			margin-top: 20px;
		}
	}
	.c-footer {
		padding-bottom: 50px;
	}
}
@media (max-width: $sw-xs-min) {
	.c-footer-top-contacts {
		justify-content: center;
	}
}