extends _includes/_extends/main

include _includes/components/main/main
include _includes/components/services/services
include _includes/components/advantages/advantages
include _includes/components/works/works
include _includes/components/gallery-projects/gallery-projects
include _includes/components/clients/clients
include _includes/components/reviews/reviews
include _includes/components/modal/modal
include _includes/components/scroll-top/scroll-top
include _includes/components/footer/footer

block head
	+head({'title':'Main'})

block content
	+main()
	+services()
	+advantages()
	+works()
	+gallery-projects()
	+clients()
	+reviews()
	+scroll-top()

block beforeScripts
	+modal()