mixin advantages(data)
	.advantages
		.container
			.row
				.advantages-title
					h2 Преимущества
			.row
				.col-lg-20.offset-lg-2
					.advantages-items(data-aos='fade-in', data-aos-delay="100")
						.advantages-item
							.advantages-item-img
								+svg('icon-carrot')
							.advantages-item-desc
								span Только свежые и качественные продукты
						.advantages-item
							.advantages-item-img
								+svg('icon-human')
							.advantages-item-desc
								span Сервис и обслуживание на высшем уровне
						.advantages-item
							.advantages-item-img
								+svg('icon-menu')
							.advantages-item-desc
								span Индивидуально составленное меню
						.advantages-item
							.advantages-item-img
								+svg('icon-review')
							.advantages-item-desc
								span Репутация приобретенная годами