.advantages {
	position: relative;
	background-image: url('../images/useful/advantages-bg.jpg');
	background-size: cover;
	background-position: center;
	padding: 40px 0 65px 0;
	&-title {
		margin: 0 auto;
		overflow: hidden;
		h2 {	
		color: #ffffff;
		font-family: "Oswald";
		font-size: 30px;
		font-weight: 600;
		line-height: 35px;
	}
}
	&-items {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		&-img {
			width: 130px;
			height: 130px;
			background-color: #62b400;
			border-radius: 50%;
			position: relative;
			border: 10px solid #509300;
			margin-left: 10px;
			transition: all 0.3s ease;
			svg {
				font-size: 65px;
				color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%)
			}
		}
		&-desc {
			color: #ffffff;
			font-family: "Oswald";
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			width: 150px;
			text-align: center;
			margin-top: 30px;
			span {
				text-align: center;
			}
		}
	}
}

	@media (max-width: $sw-md-min) {
		.advantages-item-img svg {
			font-size: 50px;
		}
		.advantages-item-img {
			width: 100px;
			height: 100px;
			margin-left: 20px;
		}
		.advantages-item-desc {
			font-size: 16px;
			margin-left: 0;
			margin-top: 10px;
		}
	}
	@media (max-width: $sw-sm-min) {
		.advantages-item {
			display: flex;
			justify-content: center;
			margin-top: 20px;
			width: 50%;
			text-align: center;
		}
		.advantages-items {
			justify-content: center;
		}
		.advantages-item-desc {
			width: 170px;
			margin: 0 auto;
		}
		.advantages-item-img {
			margin: 0 auto;
		}
	}
	@media (max-width: $sw-xs-min) {
		.advantages-item {
			display: flex;
			justify-content: center;
			margin-top: 20px;
			width: 100%;
			text-align: center;
		}
		.advantages-items {
			justify-content: center;
		}
		.advantages-item-desc {
			width: 170px;
			margin: 0 auto;
		}
		.advantages-item-img {
			margin: 0 auto;
		}
		.advantages {
			background-repeat: no-repeat;
		}
	}