.reviews {
	position: relative;
	padding-bottom: 0;
	&-top {
		padding: 50px 0 105px 0;
		background-image: url("../images/useful/reviews/reviews-bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		&-title {
			text-align: left;
			position: relative;
			margin-top: 3px;
			h2 {
			color: #62b400;
			font-family: "Oswald";
			font-size: 30px;
			font-weight: 600;
			line-height: 35px;
			letter-spacing: 1.5px;
			}
			svg {
				position: absolute;
				right: 0;
				top: -40px;
				font-size: 120px;
				opacity: 0.5;
				color: #62b400;
				transform: rotate(25deg)
			}
		}
	}
	&-bot {
		position: relative;
		top: -55px;
		&-inner {
			margin: 0 -15px;
		}
	}
	&-item {
		box-shadow: 0 2px 11px rgba(0, 0, 0, 0.3);
		background-color: #ffffff;
		position: relative;
		margin: 0px 15px;
		&-img {
			height: 80px;
			position: relative;
			&-title {
				overflow: hidden;
				padding-top: 49px;
				padding-bottom: 13px;
				position: absolute;
				text-align: center;
				width: 100%;
				top: 0;
				h3 {
					color: #ffffff;
					font-family: "Oswald";
					font-size: 18px;
					font-weight: 600;
					line-height: 18px;
					letter-spacing: 0.9px;
					margin: 0 auto;
				}
				span {
					color: #62b400;
					font-family: Oswald;
					font-size: 130px;
					font-weight: 400;
					display: inline-block;
					line-height: 100px;
					position: absolute;
					left: 50px;
					top: 33px;
				}
			}
		}
		&-desc {
			padding: 20px 43px 26px 120px;
			p {
				color: #555555;
				font-family: "OpenSans";
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
			}
			span {
				color: #222222;
				font-family: Oswald;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				letter-spacing: 0.7px;
			}
		}
	}
	.slick-dots li {
		width: 10px;
		height: 10px;
	}
	.slick-list {
		min-height: 290px;
	}
	.slick-dotted.slick-slider {
		margin: 0 !important;
	}
}


@media (max-width: $sw-md-min) {
	.reviews-top-title svg {
		right: -30px;
	}
}
@media (max-width: $sw-xs-min) {
	.reviews-item-img-title h3 {
		text-align: right;
		margin-right: 30px;
	}
	.reviews-item-img-title span {
		top: 10px;
	}
	.reviews-top-title h2 {
		font-size: 26px;
	}
	.reviews .slick-list {
		padding-bottom: 5px;
	}
	.reviews-item-desc {
		padding: 15px 20px 15px 20px;
	}
}

