mixin review(data)
	each item in data.items
		.reviews-item(data-aos='fade-in', data-aos-delay="100")
			.reviews-item-img.h-object-fit
				img(src=item.img, alt=item.img)
				.reviews-item-img-title
					span “
					h3=item.title
			.reviews-item-desc
				p=item.text
				span=item.author

mixin reviews(data)
	.reviews#reviews
		.reviews-top
			.container
				.row
					.col-lg-20.offset-lg-2
						.reviews-top-title
							h2 Отзывы наших клиентов
							+svg('icon-beet')
		.reviews-bot
			.container
				.row
					.col-lg-20.offset-lg-2
						.reviews-bot-inner
							.reviews-slider
								+review({
									items: [
									{
									img: 's/images/useful/reviews/review1.png',
									title: 'Lorem ipsum dolor sit amet',
									text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.',
									author: 'Mike Caroll, SEO «FESTO»'
									},
									{
									img: 's/images/useful/reviews/review2.png',
									title: 'Lorem ipsum dolor sit amet',
									text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.',
									author: 'Mike Caroll, SEO «FESTO»'
									},
									{
									img: 's/images/useful/reviews/review1.png',
									title: 'Lorem ipsum dolor sit amet',
									text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.',
									author: 'Mike Caroll, SEO «FESTO»'
									},
									{
									img: 's/images/useful/reviews/review2.png',
									title: 'Lorem ipsum dolor sit amet',
									text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.',
									author: 'Mike Caroll, SEO «FESTO»'
									},
									{
									img: 's/images/useful/reviews/review1.png',
									title: 'Lorem ipsum dolor sit amet',
									text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.',
									author: 'Mike Caroll, SEO «FESTO»'
									}
								]
							})
							