.c-header {
	height: 77px;
	&-fixed {
		width: 100vw;
	}
	&-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-logo {
		margin: 0;
		a {
			display: block;
		}
	}
	&-tc-mnu {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		display: none;
		cursor: pointer;
		span {
			display: block;
			position: relative;
			height: 4px;
			width: 100%;
			background: #62b400 !important;
			border-radius: 9px;
			opacity: 1;
			transform: rotate(0deg);
			transition: .25s ease-in-out;
			&:after, &:before {
				content: "";
				position: absolute;
				height: 4px;
				width: 100%;
				background: #62b400 !important;
				border-radius: 9px;
				opacity: 1;
				transform: rotate(0deg);
				transition: .25s ease-in-out;
			}
			&::after {
				top: 7px;
			}
			&::before {
				top: -7px;
			}
		}
	}
	&-tc-mnu-close {
		width: 30px;
		height: 30px;
		display: inline-block;
		align-items: center;
		position: absolute;
		top: 35px;
		right: 35px;
		display: none;
		cursor: pointer;
		span {
			display: block;
			position: relative;
			height: 4px;
			width: 100%;
			background: #62b400 !important;
			border-radius: 9px;
			opacity: 1;
			transform: rotate(45deg);
			transition: .25s ease-in-out;
			&:after{
				content: "";
				position: absolute;
				height: 4px;
				width: 100%;
				background: #62b400 !important;
				border-radius: 9px;
				opacity: 1;
				transform: rotate(-90deg);
				transition: .25s ease-in-out;
			}
			&::after {
				top: 0;
			}
		}

	}
	&-actions {
		display: flex;
		align-items: center;
	}
}

.menu_state_open{
	display: block !important;
	overflow: hidden;
	z-index: 99999;
}

.menu {
	&-list {
		display: flex;
		list-style: none;
		margin: 0;
	}
	&-item {
		position: relative;		
	}
	&-link {
		display: block;
		text-decoration: none;
		color: #111111;
		font-family: Raleway;
		font-size: 12px;
		font-weight: 400;
		line-height: 37px;
		padding: 20px 19.4px;
		&:before {
			content: '';
			position: absolute;
			height: 3px;
			background-color: #62b400;
			width: 70%;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			visibility: hidden;
		}
		&:hover:before {
			visibility: visible;
		}
	}
}
.c-header-call {
	margin-left: 30px;
}
.modal-button {
	display: block;
	color: #62b400;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 700;
	line-height: 30px;
	text-decoration: none;
	padding: 10px 21px;
	border-radius: 17px;
	line-height: 12px;
	border: 1px solid #62b400;
	background-color: #ffffff;
	transition: all 0.6s ease;
	&:hover {
		color: #62b400;
	}
	.icon-phone {
		margin-right: 7px;
		font-size: 12px;
	}
}
.c-header-call {
	.modal-button {
		&:hover {
			background-color: #62b400;
			span, svg {
				color: #fff;
			}
	}
}
}

.fixed-header {
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: #fff;
	width: 100vw;
	box-shadow: 0 2px 11px rgba(0, 0, 0, 0.3);
}
@media (max-width: $sw-lg-min) {
}
@media (max-width: $sw-md-min) {
	.c-header-tc-mnu {
		display: flex;
	}
	.c-header-menu {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: #fff;
		z-index: 999;
		width: 50%;
	}
	.menu-list {
		flex-direction: column;
		justify-content: center;
		padding: 20px 50px;
		margin-top: 30px;
	}
	.c-header-content {
		padding: 6px 0;
	}
	.menu-item {
		text-align: center;
		position: relative;
		&:hover:after {
			visibility: visible;
		}
	}
	.c-header-tc-mnu-close {
		display: block;
	}
	.menu-item:after {
		content: '';
		position: absolute;
		height: 1px;
		background-color: #62b400;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		visibility: hidden;
	}
	.menu-item::before {
		display: none;
	}
	.c-header-call {
		margin: 0;
	}
}
@media (max-width: $sw-xs-min) {
	.c-header-menu {
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		overflow: hidden;
	}
	.c-header-call {
		.modal-button {
			padding: 7px 14px;
			span {
				display: none;
			}
			.icon-phone {
				font-size: 20px;
				margin-right: 0;
			}
		}	
	}
}