mixin header-menu(data)
	each item in data.items
		li.menu-item
			a.menu-link(href=item.link)=item.name
mixin header()
		header.c-header
			.c-header-fixed
				.container
					.c-header-content
						.c-header-tc-mnu 
								span
						.c-header-logo
							a(href="#")
								img(src="s/images/useful/logo.png", alt="Лого")
						.c-header-actions
							.c-header-menu#c-header-menu
								.c-header-tc-mnu-close
									span
								ul.menu-list
									+header-menu({
										items: [
										{
										link: '#services',
										name: 'Услуги'
										},
										{
										link: '#works',
										name: 'Как мы работаем'
										},
										{
										link: '#gallery-projects',
										name: 'Проекты'
										},
										{
										link: '#clients',
										name: 'Наши клиенты'
										},
										{
										link: '#reviews',
										name: 'Отзывы'
										},
										{
										link: '#footer',
										name: 'Контакты'
										}
									]
								})
							.c-header-call
								a.modal-button(href="#myModal", data-toggle='modal')
									+svg('icon-phone')
									span Заказать звонок
