// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Table of Contents
//
// Custom Color system
// $scorpion: #585858;
// Color system
// Options
// Spacing
// Body
	//
	// Settings for the `<body>` element.

	
	$White: #fff;
	$Black: #000;

	$body-bg:       	$White;
	$body-color:    $Black;
	//grey
	$hue-grey: #567;
	$lite-grey: #9ab;

	//blue
	$hue-blue: #345;
	//$lite-blue: #445ae3;

	//violet
	$lite-violet: #445ae3;


	$general-hue-lite: $hue-grey;//grey
	$general-lite: $lite-grey;//grey

	$general-hue-dark: $hue-blue;//blue
	//$general-lightness: $lite-blue;//blue

	$general-bright: $lite-violet;//violet
	

$transition_duration: 0.7s;

// Links
	//
	// Style anchor elements.

	$link-decoration:       underline;
	$link-hover-decoration: none;

// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$headings-font-family: "Oswald";
$font-family-base: "Raleway";
$font-size-base: 1.4rem; // Assumes the browser default, typically `14px`

$line-height-base: 1.4;

// $h1-font-size: 2.4rem;
// $h2-font-size: 2rem;
// $h3-font-size: 1.75rem;
// $h4-font-size: 1.5rem;
// $h5-font-size: 1.25rem;
// $h6-font-size: 1rem;


$h1-font-size: 26px;
$h2-font-size: 24px;
$h3-font-size: 22px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 16px;

// Components
// Tables
// Buttons
// Forms
// Dropdowns
// Z-index master list
// Navs
// Navbar
// Pagination
// Jumbotron
// Form states and alerts
// Cards
// Tooltips
// Popovers
// Badges
// Modals
// Alerts 
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
	25: 25%,
	50: 50%,
	75: 75%,
	100: 100%
) !default;

// Body
//
// Settings for the `<body>` element.


// Links
//
// Style anchor elements.

// $link-color:            $brand-primary !default;
$link-color:            #00A5B6;
$link-decoration:       none !default;
// $link-hover-color:      darken($link-color, 15%) !default;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$sw-xx-min:0;//0
$sw-xs-min:480px;//0//576
// $sw-sm-min:768px;//576//768
$sw-sm-min:768px;
$sw-md-min:992px;//768
$sw-lg-min:1220px;//1017

$sw-xx-max:$sw-xs-min - 1px;//479px
$sw-xs-max:$sw-sm-min - 1px;
$sw-sm-max:$sw-md-min - 1px;
$sw-md-max:$sw-lg-min - 1px;

$grid-breakpoints: (
	xs: $sw-xs-min,
	sm: $sw-sm-min,
	md: $sw-md-min,
	lg: $sw-lg-min,
);
// @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
// @include _assert-starts-at-zero($grid-breakpoints);


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               24;
$grid-gutter-width-base:     30px;
$grid-gutter-width-device:   20px;
$grid-gutter-widths: (
	xs: $grid-gutter-width-device,
	sm: $grid-gutter-width-base,
	md: $grid-gutter-width-base,
	lg: $grid-gutter-width-base
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
	xs: 100%,
	// sm: 630px + $grid-gutter-width-base,//540 //last-768
	sm: 750px + $grid-gutter-width-device,//540 //last-768
	md: 940px + $grid-gutter-width-base,//748
	lg: 1170px + $grid-gutter-width-base,//1000
	//xl: 960px//1200
);
// @include _assert-ascending($container-max-widths, "$container-max-widths");

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'stem', sans-serif;
$font-family-serif:      'stem', serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;
