mixin services(data)
	.services#services
		.container
			.s-title
				h2 Наши услуги
				+svg('icon-onion')
			.row
				.col-lg-20.offset-lg-2
					.services-tabs(data-aos='fade-in', data-aos-delay="100")
						ul#myTab.nav.nav-tabs(role='tablist')
							li.nav-item
								a#first-tab.nav-link.active(data-toggle='tab', href='#first', role='tab',  aria-selected='true') Корпоративное питание
							li.nav-item
								a#second-tab.nav-link(data-toggle='tab', href='#second', role='tab',  aria-selected='false') Индустриальное питание
							li.nav-item
								a#third-tab.nav-link(data-toggle='tab', href='#third', role='tab',  aria-selected='false') Организация мероприятий
						#myTabContent.tab-content(data-aos='fade-in', data-aos-delay="100")
							#first.tab-pane.fade.show.active(role='tabpanel') 
								.item
									.item-img.h-object-fit
										img(src="s/images/useful/services/first-t.jpg", alt="Лого")
									.item-desc
										.item-desc-text
											p Организация питания в бизнес-центрах и офисах компаний.Учитываем вкусы клиентов: от диетических блюд до блюд из кухонь народов мира!
										.item-desc-list
											ul
												li • корпоративное кафе с линией раздачи
												li • концепция free-flow
												li • VIP-зал с ресторанным обслуживанием
												li • организация отдельно стоящего бара, буфета, кофейного острова
												li • обслуживание переговорных
												li • доставка питания в офис
										+svg('icon-tomato')
							#second.tab-pane.fade(role='tabpanel')
								.item
									.item-img.h-object-fit
										img(src="s/images/useful/services/second-t.jpg", alt="Лого")
									.item-desc
										.item-desc-text
											p Полный комплекс услуг по организации питания на предприятии. Учитываем разные целевые аудитории: от рабочего и административного персонала до меню для топ-менеджмента!
										.item-desc-list
											ul
												li • столовые полного цикла
												li • доставка в удаленные цеха
												li • организация работы магазинов и столов заказов
												li • буфеты-раздаточные
												li • обслуживание протокольных и праздничных мероприятий
										+svg('icon-tomato')
							#third.tab-pane.fade(role='tabpanel')
								.item
									.icon-tomato
									.item-img.h-object-fit
										img(src="s/images/useful/services/third-t.jpg", alt="Лого")
									.item-desc
										.item-desc-text
											p Проведение мероприятий различного формата. От организа-ции деловых завтраков до корпоративных мероприятий счисленностью свыше 1000 человек!
										.item-desc-list
											ul
												li • кофе-брейки
												li • фуршеты
												li • банкеты
												li • корпоративы
										+svg('icon-tomato')
