.services {
	padding: 60px 0 100px 0;
	background-image: url('../images/useful/services-bg.png');
	background-size: cover;
	background-position: center;
}
.s-title {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 75px;
	margin-top: 4px;
	overflow: hidden;
	h2 {
		color: #62b400;
		font-family: "Oswald";
		font-size: 30px;
		font-weight: 600;
		line-height: 30px;
		letter-spacing: 1.3px;
		white-space: nowrap;
	}
}
.icon-onion {
	width: 50px;
	height: 40px;
	opacity: 0.5;
	margin-left: 21px;
	color: #62b400;
}
.services-tabs {
	.nav-tabs {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		position: relative;
		border: none;
		&:after {
			content: "";
			position: absolute;
			bottom: 2px;
			height: 2px;
			background-color: #efefef;
			width: 100%;
		}
	}
	.nav-item {
		margin: 0;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			width: 110px;
			height: 2px;
			background-color: #62b400;
			bottom: 2px;
			z-index: 99;
			display: none;
		}
		&:hover:after {
			display: block;
		}
	}
	.nav-link {
		border: none;
		text-decoration: none;
		background-color: transparent;
		color: #62b400;
		font-family: "Oswald";
		font-size: 16px;
		font-weight: 600;
		line-height: 30px;
		padding: 0;
		display: block;
		padding-bottom: 20px;
		position: relative;
		letter-spacing: 1.5px;
		&.active {
			color: #62b400;
			background-color: transparent;
			&:after {
				content: "";
				position: absolute;
				width: 110px;
				height: 2px;
				background-color: #62b400;
				bottom: 2px;
				z-index: 99;
				left: 0;
			}
		}
	}
}
.tab-content {
	margin-top: 33px;
	.item {
		display: flex;
		justify-content: space-between;
		height: 380px;
		&-img {
			width: 59%;
			height: 380px;
			box-shadow: 0 2px 11px rgba(0, 0, 0, 0.3);
			img {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		&-desc {
			box-shadow: 0 2px 11px rgba(0, 0, 0, 0.3);
			background-color: #ffffff;
			padding: 30px 20px 56px 19px;
			width: 400px;
			margin-top: 60px;
			position: relative;
			&-text {
				color: #555555;
				font-family: "OpenSans";
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
			}
			&-list{
				ul {
					list-style: none;
					padding-left: 30px;
					margin-top: 20px;
					li {
						color: #222222;
						font-family: Raleway;
						font-size: 12px;
						font-weight: 400;
						line-height: 24px;
					}
				}
			}	
			.icon-tomato {
				position: absolute;
				right: 20px;
				bottom: 30px;
				font-size: 45px;
				color: #62b400;
				opacity: 0.5;
			}
		}
	}
}

@media (max-width: $sw-sm-min) {
	.tab-content .item-img {
		width: 100%;
	}
	.tab-content .item {
		position: relative;
	}
	.tab-content .item-desc {
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.services-tabs .nav-link {
		font-size: 14px;
	}
}
@media (max-width: $sw-xs-min) {
	.tab-content .item-desc {
		padding: 20px 20px 40px 20px;
	}
	.nav-tabs {
		flex-direction: column;
		justify-content: center;
	}
	.nav-item {
		display: flex;
		justify-content: center;
	}
	.services-tabs .nav-link.active:after{
		width: 100%;
	}
	.services-tabs .nav-item:after{
		width: 45%;
	}
	.tab-content .item-desc .icon-tomato {
		font-size: 25px;
	}
}